    <section class="dixel-brands">
      <div class="dixel-brands-wrapper">
        <div class="dixel-brands-circle">
          {% if module.title_html_tag == 'h1' %}
              <h1 class="mobile-headline-h2 tablet-headline-h3 headline-h2 dixel-brands__title">{{ module.title }}</h1>
          {% elif module.title_html_tag == 'h2' %}
              <h2 class="mobile-headline-h2 tablet-headline-h3 headline-h2 dixel-brands__title">{{ module.title }}</h2>
          {% elif module.title_html_tag == 'h3' %}
              <h3 class="mobile-headline-h2 tablet-headline-h3 headline-h2 dixel-brands__title">{{ module.title }}</h3>
          {% endif %}
          <div class="dixel-brands-container">
            <div class="swiper-container dixel-brands-swiper">
              <div class="dixel-brands-logos swiper-wrapper">
                {% for item in module.image_field %}
                {% if item.src %}
                {% set sizeAttrs = 'width="{{ item.width|escape_attr }}" height="{{ item.height|escape_attr }}"' %}
                {% if item.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ item.width|escape_attr }}" height="{{ item.height|escape_attr }}"' %}
                {% elif item.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.max_width|escape_attr }}" height="{{ item.max_height|escape_attr }}"' %}
                {% endif %}
                {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading|escape_attr }}"' : '' %}
                <img src="{{ item.src|escape_url }}" alt="{{ item.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }} class="dixel-brands__logo">
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <img src="{{ module_asset_url("character.svg") }}" alt="" class="dixel-brands-fox">
      </div>
    </section>