<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  {% dnd_area "footer"
    label="Footer",
    class="footer__container content-wrapper"
  %}

    {# Social follow and copyright #}

    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../../modules/social-follow" %}
            {% module_attribute "social_link" is_json=True %}
              [
                {"social_account": "facebook-f"},
                {"social_account": "linkedin-in"},
                {"social_account": "twitter"},
                {"social_account": "instagram"}
              ]
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row
          margin={
            "top": 12,
            "bottom": 12
          }
        %}
          {% dnd_module
            path="@hubspot/rich_text",
            html='<div style="text-align: center; font-size: 0.7rem;"><span>© {{ year }} All rights reserved.</span></div>'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</footer>

<footer class="dixel-footer">
  <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="503" viewBox="0 0 1440 503" fill="none" class="dixel-footer-bg">
    <path opacity="0.6" d="M-410.239 200.117C-410.239 200.117 -16.4882 452.585 154.98 470.732C247.498 480.523 351.277 449.312 450.525 391.471C549.773 333.629 652.765 245.167 745.758 240.029C838.75 234.892 922.332 312.725 1009.79 354.241C1097.24 395.756 1188.47 401.048 1287.05 348.916C1385.62 296.783 1491.34 187.687 1591.18 124.909C1691.01 62.1301 1785.09 45.8913 1832.23 37.9437L1879.34 30.1066" stroke="url(#paint0_linear_653_6152)" stroke-width="60"/>
    <defs>
      <linearGradient id="paint0_linear_653_6152" x1="1879.55" y1="30.1812" x2="-205.619" y2="865.46" gradientUnits="userSpaceOnUse">
        <stop offset="0.159336" stop-color="#211F28"/>
        <stop offset="1" stop-color="#422F8F" stop-opacity="0.5"/>
      </linearGradient>
    </defs>
  </svg>
  <div class="container">
    <div class="dixel-footer-inner">
      <div class="dixel-footer-block1">
        <a href="/">
          <img src="images/dixel-logo.svg" alt="" class="dixel-footer__logo">
        </a>
        <div class="mobile-headline-h2 headline-h2 dixel-footer__title">Got a vision for your space?</div>
        <div class="mobile-body-2 body-2 dixel-footer__text dixel-footer__text1">We’re here to bring it to life—seamlessly and stress-free.</div>
        <div class="mobile-body-2 body-2 dixel-footer__text dixel-footer__text2">Just give us a call</div>
        <a href="/" class="mobile-headline-h3 headline-h4 dixel-footer__link-big">+ (571) 447-1166</a>
      </div>
      <div class="dixel-footer-block2">
        <div class="dixel-footer-block2-contuct-us">
          <div class="mobile-body-2 body-2 dixel-footer__text dixel-footer__text2">Or email us at</div>
          <a href="mailto:contact@dixelmail.com" class="mobile-headline-h3 headline-h4 dixel-footer__link-big">contact@dixelmail.com</a>
        </div>
        <div class="dixel-footer-block2-menu">
          <div class="dixel-footer-block2-menu__col">
            <a href="/" class="mobile-body-2 body-2 dixel-footer-block2-menu__link">Examples</a>
            <a href="/" class="mobile-body-2 body-2 dixel-footer-block2-menu__link">Blog</a>
            <a href="/" class="mobile-body-2 body-2 dixel-footer-block2-menu__link">Services</a>
            <a href="/" class="mobile-body-2 body-2 dixel-footer-block2-menu__link">About</a>
            <a href="/" class="mobile-body-2 body-2 dixel-footer-block2-menu__link">Contacts</a>
          </div>
          <div class="dixel-footer-block2-menu__col">
            <div class="mobile-body-2 body-2 dixel-footer-block2-menu__text">12907 Crookston Lane, Rockville, Maryland, 20851</div>
            <div class="dixel-footer-block2-menu__socials">
              <a href="/" class="dixel-footer-block2-menu__socials-item">
                <img src="images/facebook.svg" alt="" class="">
              </a>
              <a href="/" class="dixel-footer-block2-menu__socials-item">
                <img src="images/instagram.svg" alt="" class="">
              </a>
              <a href="/" class="dixel-footer-block2-menu__socials-item">
                <img src="images/x.svg" alt="" class="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="dixel-footer-block3">
        <a href="/" class="mobile-body-2 body-3 dixel-footer-bottom-link">Privacy policy</a>
        <a href="/" class="mobile-body-2 body-3 dixel-footer-bottom-link">Terms and Сonditions</a>
        <a href="/" class="mobile-body-2 body-3 dixel-footer-bottom-link dixel-footer-copy">Copyright © {{ year }} | All rights reserved</a>
        <div class="dixel-footer-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M5.33325 6.66667L7.99992 4M7.99992 4L10.6666 6.66667M7.99992 4V12" stroke="#251B4C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</footer>
