<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Boilerplate - blog post
  screenshotPath: ../images/template-previews/blog-post.png
-->

{% extends "./layouts/base.html" %}

{% block body %}
<section class="dixel-blog-page">
<div class="container">
  <div class="dixel-blog-page-header">
    <div class="dixel-blog-page-header__pic-wrapper">
      <img src="{{ content.featured_image }}" alt="" class="dixel-blog-page-header__pic">
      {% if content.topic_list %}
        {% for topic in content.topic_list %}
          {% if loop.first %}
            <div class="dixel-blog-page-header__tag">{{ topic.name }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="dixel-blog-page-header__reat-time" style="display: none">5 min read</div>
    </div>
    <h1 class="mobile-headline-h2 headline-h2 dixel-blog-page-header__title">{{ content.name }}</h1>
    <div class="mobile-body-2 body-2 dixel-blog-page-header__subtitle">{{ content.meta_description }}</div>
  </div>
  <div class="dixel-blog-page-content">
    {{ content.post_body }}
  </div>
</div>
</section>

{% module "module_17454911221262" path="/dixel-theme/modules/dixel-contact-us", label="dixel-contact-us" %}

{% endblock body %}
