<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Boilerplate - blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->

{% extends "./layouts/base.html" %}

{% block body %}
<section class="dixel-blogs-page">
  <div class="container">
    <div class="dixel-blogs-page-header">
      <h2 class="mobile-headline-h1 headline-h2 dixel-blogs-page-title">Blog<span>􁕝</span></h2>
    </div>
    <div class="dixel-blogs-page-tab-menu">
      <a href="https://dixelconstruction.com/blog" class="dixel-blogs-page-tab-menu__item {% if !tag %}dixel-blogs-page-tab-menu__item_active{% endif %}">All</a>
      {% set my_topics = blog_topics('default', 250) %}
      {% for item in my_topics %}
        <a href="{{ blog_tag_url(group.id, item.slug)}}" class="dixel-blogs-page-tab-menu__item {% if tag == item.slug or (!tag && item == 'all') %}dixel-blogs-page-tab-menu__item_active{% endif %}">{{ item }}</a>
      {% endfor %}
    </div>
    <div class="dixel-blogs-page-content">
      {% for content in contents %}
        <a href="{{ content.absolute_url }}" class="dixel-blogs-page-card">
          <div class="dixel-blogs-page-card-wrapper">

            <div class="dixel-blogs-page-card-inner">
              <img src="{{ content.featured_image }}" alt="" class="dixel-blogs-page-card__pic">
              {% for topic in content.topic_list %}
                <div class="dixel-blogs-page-card__tag">{{ topic.name }}</div>
              {% endfor %}
              <div class="dixel-blogs-page-card__read-time">5 min read</div>
            </div>
            <div class="button-circle-primery dixel-blogs-page-card__button size-m">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>

          </div>
          <div class="mobile-headline-h3 headline-h3 dixel-blogs-page-card__title">{{ content.name }}</div>
          <div class="dixel-blogs-page-card-info">
            <div class="mobile-body-2 body-2 dixel-blogs-page-card-info__adres">{{ content.meta_description }}</div>
          </div>
        </a>
      {% endfor %}
    </div>

    {% if contents.total_page_count > 1 %}
      {% set page_list = [-2, -1, 0, 1, 2] %}
      {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
      {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
      {% elif current_page_num == 2 %}{% set offset = 1 %}
      {% elif current_page_num == 1 %}{% set offset = 2 %}
      {% else %}{% set offset = 0 %}{% endif %}

      <div class="dixel-our-cases-pagintation">
        <a href="{{ blog_page_link(last_page_num)|cut('page/1')}}" class="button-circle-secondary size-m reverse {{ 'disabled' if !last_page_num }}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke="#251B4C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <div class="dixel-our-cases-pagintation-digits">
          {% for page in page_list %}
          {% set this_page = current_page_num + page + offset %}
          {% endfor %}
          {% if this_page > 0 and this_page <= contents.total_page_count %}
            <a href="{{ blog_page_link(this_page)|cut('page/1')}}" class="dixel-our-cases-pagintation-digits__item">{{ this_page }}</a>
          {% endif %}
        </div>
        <a href="{{ blog_page_link(current_page_num + 1)}}" class="button-circle-secondary size-m {{ 'disabled' if !next_page_num }}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke="#251B4C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    {% endif %}

  </div>
</section>
{% endblock body %}
