<!--
  templateType: page
  isAvailableForNewContent: true
  label: MindCloud Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

  {% dnd_area "dnd_area"
    label="Main section"
  %}
    {% dnd_section %}
      {% dnd_module "module_174531470738615" path="/dixel-theme/modules/dixel-jumbo-banner", label="dixel-jumbo-banner", offset=0 , offset=0 , width=12 %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {% dnd_section %}
      {% dnd_module "module_17453222354606" path="/dixel-theme/modules/dixel-our-services", label="dixel-our-services", offset=0 , offset=0 , width=12 %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {% dnd_section %}
      {% dnd_module "module_17453788680754" path="/dixel-theme/modules/dixel-brands", label="dixel-brands", offset=0 , offset=0 , width=12 %}
      {% end_dnd_module %}
    {% end_dnd_section %}

  {% end_dnd_area %}

{% endblock body %}
