<section class="dixel-advantages">
    <div class="container">
    <h2 class="mobile-headline-h2 headline-h3 dixel-advantages__title">Our advantages <span>􀬓</span></h2>
    </div>

    <div class="swiper dixel-advantages-swiper">
        <div class="dixel-advantages-layout swiper-wrapper">
            {% for item in module.card %}
                <div class="dixel-advantages-card swiper-slide">
                {% if item.card_image.src %}
                {% set sizeAttrs = 'width="{{ item.card_image.width|escape_attr }}" height="{{ item.card_image.height|escape_attr }}"' %}
                {% if item.card_image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ item.card_image.width|escape_attr }}" height="{{ item.card_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% elif item.card_image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.card_image.max_width|escape_attr }}" height="{{ item.card_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = item.card_image.loading != 'disabled' ? 'loading="{{ item.card_image.loading|escape_attr }}"' : '' %}
                <img src="{{ item.card_image.src|escape_url }}" alt="{{ item.card_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }} class="dixel-advantages-card__pic">
                {% endif %}
                <div class="headline-h4 dixel-advantages-card__title">{{ item.cart_title }}</div>
                <div class="body-3 dixel-advantages-card__text">{{ item.card_text }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="dixel-advantages-arrows">
        <div class="button-circle-secondary size-s dixel-advantages-prev">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Icons/Arrow">
                    <path id="Vector 190" d="M10 16L6 12M6 12L10 8M6 12L18 12" stroke="#251B4C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
        </div>
        <div class="button-circle-secondary size-s reverse dixel-advantages-next">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Icons/Arrow">
                    <path id="Vector 190" d="M10 16L6 12M6 12L10 8M6 12L18 12" stroke="#251B4C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
        </div>
    </div>
</section>

